h1 {
	color:  yellow;
	font-size: 2rem;
}

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

#zuitt-motto {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h2 ~ a, a {
	text-decoration: none;
}

body > section > form > label {
	display: block;
	margin-top: 10px;
	color: rgb(0, 0, 128);
}

#bootcamp-learning-list li{
	color:  #075966;
}

body {
	background-color: skyblue;
}


html {
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

div {
	display: inline-block;
	float: right;
}

section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

ol{
	list-style-type: none;
}

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 250px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	margin-top: 10px;
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
	padding: 10px 5px;
}